@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: Raleway, sans-serif;
}
.MuiButton-root{
	background: linear-gradient(90deg, #4C489D, #7E7BB9);
	color: #fff !important;
}
.read-later{
	background: linear-gradient(90deg, #7E7BB9, #4C489D);
    padding: 6px;
    margin-left: 8px;
    color: #fff;
    border-radius: 2rem;
}
.title{
	text-align: center;
    font-weight: bold;
    background: linear-gradient(90deg, #7E7BB9, #4C489D);
    width: fit-content;
    border-radius: 2rem;
    padding: 15px 50px;
    color: #fff;
    margin: 8rem auto;
}
.css-1a7a1ce-MuiPaper-root-MuiAppBar-root{
	background: linear-gradient(90deg, #4C489D, #7E7BB9);
	align-items: center;
}
@media screen and (max-width:576px){
    .swiper-slide{
        width:100%;
    }
}